*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'codropsicons';
    src: url('../fonts/codropsicons/codropsicons.eot');
    src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}
body {
    background: #34a8eb;
}
.container2 {
    padding: 80px;
}
.bt-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-width: 0px;
    border-style: solid;
    border-color: #333;
    background-color: rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
    transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}
.bt-menu.bt-menu-open {
    height: 100%;
    border-width: 90px 30px 30px 30px;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: border-width 0.3s, background-color 0.3s;
    transition: border-width 0.3s, background-color 0.3s;
}
.bt-overlay {
    position: absolute;
    width: 100%;
}
.bt-menu-open .bt-overlay {
    height: 100%;
}
.bt-menu-trigger {
    position: fixed;
    top: 22px;
    left: 50%;
    z-index: 100;
    display: block;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.bt-menu-trigger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 8%;
    background-color: #fff;
    font-size: 0px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bt-menu-open .bt-menu-trigger span {
    background-color: #2980b9;
}
.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s;
}
.bt-menu-trigger span:before {
    -webkit-transform: translateY(-250%);
    transform: translateY(-250%);
}
.bt-menu-trigger span:after {
    -webkit-transform: translateY(250%);
    transform: translateY(250%);
}
.bt-menu-open .bt-menu-trigger span:before,
.bt-menu-open .bt-menu-trigger span:after {
    background-color: #2980b9;
}
.bt-menu-open .bt-menu-trigger span:before {
    -webkit-transform: translateY(-350%);
    transform: translateY(-350%);
}
.bt-menu-open .bt-menu-trigger span:after {
    -webkit-transform: translateY(350%);
    transform: translateY(350%);
}
.bt-menu ul {
    position: fixed;
    top: 0px;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    text-align: center;
    white-space: nowrap;
    height: 0;
    -webkit-transition: height 0s 0.3s;
    transition: height 0s 0.3s;
}
.bt-menu.bt-menu-open ul {
    height: 90px;
    -webkit-transition: none;
    transition: none;
}
.bt-menu ul li,
.bt-menu ul li a {
    text-align: center;
}
.bt-menu ul li {
    display: inline-block;
    margin: 0 5%;
    width: 5%;
    height: 90px;
    line-height: 90px;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.bt-menu ul li:nth-child(3) {
    margin-right: 70px;
    margin-left: 151px
}
.bt-menu ul li:nth-child(4) {
    margin-left: 70px;
}
.bt-menu.bt-menu-open ul li {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.bt-menu.bt-menu-open ul li:first-child,
.bt-menu.bt-menu-open ul li:last-child {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
.bt-menu.bt-menu-open ul li:nth-child(2),
.bt-menu.bt-menu-open ul li:nth-last-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.bt-menu.bt-menu-open ul li:nth-child(3),
.bt-menu.bt-menu-open ul li:nth-last-child(3) {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}
.bt-menu ul li a {
    display: block;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.15em;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.bt-menu ul li a:before {
    display: none;
    font-size: 32px;
}
.bt-menu ul li a:hover,
.bt-menu ul li a:focus {
    color: #2980b9;
}
@media screen and (max-width: 65.1em) {
    .bt-menu ul li a {
        font-size: 90%;
    }
}
@media screen and (max-width: 55.5em) {
    .bt-menu ul li {
        margin: 0 15px;
    }
    .bt-menu ul li a {
        font-size: 0px;
    }
    .bt-menu ul li a:before {
        display: block;
    }
}
@media screen and (max-width: 32em) {
    .bt-menu-trigger {
        width: 40px;
        margin-left: -20px;
    }
    .bt-menu ul li {
        margin: 0 2%;
    }
    .bt-menu ul li:nth-child(3) {
        margin-right: 50px;
    }
    .bt-menu ul li:nth-child(4) {
        margin-left: 50px;
    }
    .bt-menu ul li a:before {
        font-size: 24px;
    }
}
.bt-icon .icon-facebook .icon-github .icon-email {
    margin-left: 40px;
}
///***texts***///
body {
    color: #fff;
    font-family: 'Lato', Arial, sans-serif;
}
a,
a:focus {
    outline: none;
}
.codrops-header {
    position: relative;
    margin: 0 auto;
    max-width: 60%;
    text-align: center;
}
.codrops-header a {
    outline: none;
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}
.codrops-header a:hover,
.codrops-header a:focus {
    opacity: 1;
}
.codrops-header h1 {
    margin-top: 15px;
    font-weight: 300;
    font-size: 3.5em;
    line-height: 1.3;
    color: #fff;
}
.codrops-header h1 span {
    display: block;
    font-weight: 400;
    padding: 0.4em 1em 1em;
    font-size: 40%;
}
.codrops-header h2 span {
    display: block;
    font-weight: ;
    padding: 0.4em 1em 1em;
    font-size: 100%;
    color: azure;
}
.codrops-links {
    margin: 0;
}
.codrops-links a {
    display: inline-block;
    margin: 0 0.6em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 75%;
}
.codrops-icon:before {
    margin: 0 10px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'codropsicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}
.codrops-icon-drop:before {
    content: "\e001";
}
.codrops-icon-prev:before {
    content: "\e004";
}

/* Related demos */

.codrops-related {
    padding-bottom: 2em;
    color: rgba(0, 0, 0, 0.4);
}
.codrops-related a {
    display: inline-block;
    margin-top: 0.5em;
}
@media screen and (max-width: 30em) {
    body {
        font-size: 90%;
    }
}
@media screen and (max-height: 29em) {
    .container {
        height: auto;
    }
    .codrops-header {
        position: relative;
        margin: 0 auto;
        height: auto;
        max-width: 100%;
    }
}
.modali {
    font-size: 14px;
    text-align: justify;
}
.modali span {
    text-decoration: underline;
}
.center {
    text-align: center;
}

/*footer*/

.footer {
    margin-top: -50px;
    letter-spacing: 1px;
    font-size: 95%;
    text-align: center;
    color: #fff;
}
.footer a {
    color: aqua
}
.footer4 {
    margin-top: 50px;
    letter-spacing: 1px;
    font-size: 15px;
    ;
    text-align: center;
    color: #fff;
}
.footer4 a {
    color: rgba(0, 0, 0, 0.4)
}
